@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap');
:root{
    --paragraph-font: font-family: "Merriweather", serif;
    --heading-font: font-family: "Poppins", sans-serif;
    --border-radius: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--paragraph-font);
}
header, footer {
  background-color: #062349;
  font-family: var(--heading-font);
  font-weight: 400;
}
.head-div {
  display: flex;
  padding: 1rem;
}
.logo-img {
  width: 75px;
  height: 65px;
  padding: 0.5rem .75rem .5rem 0rem;
}
.care {
  margin-top: 10px;
  color: #7ebdff;
  font-size: 1.5rem;
}
.buddies {
  color: #ffffff;
}
.h1-sub {
  position: absolute;
  top: 50px;
  left: 85px;
  color: #fff;
}
nav {
  background-color: #14417c;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  color: #ffffff;
}
nav a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: .5rem;
  display: flex;
  border-radius: var(--border-radius);
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
}
nav a:hover {
  background-color: #050505;
  color: white;
  font-weight: 700;
}
nav ul {
  overflow: hidden;
}
nav.open {
  grid-template-rows: 1fr;
}
button {
  background: none;
  border: none;
}
/* Small View Navigation */
#myButton {
  font-size: 2rem;
  border: 0;
  background: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
#myButton::before {
  content: "☰";
  color: #fff;
}
#myButton.open::before {
  content: "❎";
}
.active::before {
  content: "📍";
}
ul li {
  list-style-type: none;
} 
 body{
  background-color: #3a5c83;
 }

.hero-div {
  padding: 0.5rem 2rem;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  /* height: 55vh; */
  background-image: url(../images/wakeup.jpeg);
  background-size: calc(100% + 10rem);
}
#sitter-hero{
  background-image: url(../images/jumping-on-plates.jpg);
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin: 1rem;
  border-radius: var(--border-radius);
}
hr {
  height: 3px;
  margin: 0 35px;
}
#meet{
  color: #fff;
  text-align: center;
}
.sitters-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pic{
  height: auto;
  padding: 1rem;
  width: 200px;
  margin: 0 auto;
  border-radius: var(--border-radius);
}
section{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 3px #000000;
}
.hero-div-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.hero-h1{
    color: #ffffff;
    text-shadow: 2px 2px  2px rgb(12, 5, 26);
}
.hero-p{
    /* font-size: 1.5rem; */
    color: #050777;
    font-weight: 700;
}
.book-now{
    background-color: yellow;
    padding: 12.5px;
    margin: 10px;
    width: 170px;
    border-radius: var(--border-radius);
    margin: 1rem auto;
}
.welcome{
    padding: .5rem 1.5rem;
    margin: 1rem;
    border: 1px solid;
    border-radius: var(--border-radius);
    background-color: #fff;
}
.welcome-img{
    width: 55%;
    height: 50%;
    display: flex;
    margin: 1rem auto;
}
.more{
  background-color: yellow;
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;
  font-weight: 700;
}
button:hover{
  background-color: rgb(235, 199, 0);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.rental{
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
}
.rental-box{
  padding: 1rem;
  background-color: #030429;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;

}
.rental-info{
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #1b147c;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.rental-info ul>li{
  padding: 1rem;
  color: #fff;
}
/* tables */
thead th,
tbody td,
tbody th {
  text-align: center;
  border: 1px solid;
  padding: 8px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
thead {
  color: #fff;
  background-color: #000;

  th {
    padding: 10px;
  }
  tr:nth-last-child(1) {
    background-color: #134ab1;
  }
}

tbody tr:nth-child(even) {
  background-color: rgb(58, 65, 128);
}
.offer{
  display: flex;
  border-radius: var(--border-radius);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #050777; */
  margin: 1.5rem;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.offer-box{
  padding: 1rem;

}
.offer-box ul>li{
padding: 1rem;
text-align: center;
font-size: larger;
color: #fff;
}
.offer-img{
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 2px #767a83;
  width: 80vw;
  height: auto;
}
.test{
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
}
.test-box{
  padding: 1rem;
  background-color: #030429;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: 0 auto;

}
.test-info{
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #1b147c;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-info-last{
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #1b147c;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-img{
  border-radius: 50%;
  padding: 1rem;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
/* Dialog */
dialog{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: .25rem;
  padding: 1em;
  margin: 50px;
  background-color: #fff;
  box-shadow: 0 0 3rem #777;
  width: 90%;
  max-width: 50ch;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  border-radius: 10px;
  border: 3px solid rgb(29, 31, 29);
}

::backdrop{
  background-color: rgba(0,0,0,0.5);
}

dialog button{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: .5rem;
  border: 2px solid rgba(0,0,0,0.1);
  background-color: yellow;
}
#visits{
  display: none;
  background-color: #000000;
  color: #fff;
  width: 50%;
  margin: 1.5rem;
  text-align: center;
  padding: 10px;
}
/* footer start */
footer {
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  width: auto;
  height: auto;
  background-color: #062349;
  color: #ffffff;
}
.footer-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
#icon-div {
  text-align: center;
}
/* Icons */
footer a {
  text-decoration: underline;
  color: #fff;
  padding: 0;
}
.second-main a{
  text-decoration: underline;
}
.order a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  background: transparent;
  color: var(--clr);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  animation: icon-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
li > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 10px;
  margin-bottom: 1.5rem;
}
i {
  padding: 20px;
  font-size: 2.5rem;
}
.order ul li {
  overflow: hidden;
}
.order ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.order ul li {
  width: 80px;
  height: 80px;
  color: var(--clr);
  border-radius: var(--border-radius);
  padding: 2rem;
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.order-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* END OF ICONS!!!!!! */
footer p {
  margin: 0 auto;
}

/* sitters page */
.container-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
}
.title {
  padding: 1rem;
  background-color: #030429;
  color: #fff;
  font-weight: 700;
}
.weather-icon {
  margin-top: 30px;
  width: auto;
  height: auto;
}
.details-box {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.details-box p{
    margin-bottom: 1rem;
}
.event-box {
  padding-bottom: 2rem;
  padding-top: 0;
  height: 100%;
  color: #fff;
  list-style-type: disc;
  width: 100%;
  background-color: #352d47;
}
.event {
  display: flex;
  text-transform: none;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
}
#weather {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-transform: capitalize;
}

#forecast {
  margin-top: 50px;
}
#forecast > p {
  margin: 20px;
}
.choose-img{
  display: flex;
  justify-content: center;
}
.choose-img img{
  margin: 1rem;
  width: 300px;
}
.choose-txt ul>li{
  margin: 1rem;
  padding: .5rem;
  color: #fff;
}
.choose-txt ul>li::before{
  content: "\2714" ;
  padding-right: 10px;
}
.choose-btn{
  background-color: yellow;
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 0 auto;
  display: block;
  font-weight: 700;
}
details summary {
  list-style: none;
}
details summary::before {
  content: "\25B6";
  color: #fff;
}
details[open] summary::before{
  content: "\25BC";
}
summary {
  background-color: #39336e;
  text-align: center;
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
}
summary:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* tab screen */
@media only screen and (min-width: 526px) and (max-width: 900px) {
  #myButton {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
    cursor: pointer;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    background-color: transparent;
    grid-template-rows: 1fr;
    transition: none;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    color: #ffffff;
    cursor: pointer;
  }
  nav a:hover {
    background-color: #0c910c;
    border-radius: 10px;
  }
  .active::before {
    content: "";
  }
  nav .active {
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 20px;
  }
  .hero-div{
    height: auto;
    font-size: 2.5rem;
  }
.weather-icon {
  margin-top: 30px;
  width: 70%;
  height: auto;
}
  footer {
    font: 1.25rem;
    padding: 10px;
  }
  #icon-div img {
    width: 50px;
    height: 50px;
  }
  .footer-con {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 100%;
    padding: 2rem;
  }
  #weather {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  form {
    box-sizing: border-box;
    text-align: center;
    margin-left: 2rem;
  }
  textarea{
    padding: 20px;
    margin-left: 30px;
  }
  .image-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .activity-img{
    padding: 10px;
  }
  .activity-img img{
    width: 450px;
    height: 300px;
  }
  table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
  .activity-img img:hover {box-shadow: 0 0 50px #333;}
}
.choose-txt {
  display: flex;
  text-transform: none;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
}
/* Largest screen pc */
@media only screen and (min-width: 900px) {
  #myButton {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
    cursor: pointer;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    background-color: transparent;
    grid-template-rows: 1fr;
    transition: none;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    color: #ffffff;
    cursor: pointer;
  }
  nav a:hover {
    background-color: #0c910c;
    border-radius: 10px;
  }
  .active::before {
    content: "";
  }
  nav .active {
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 20px;
  }
  .hero-div{
      height: 75vh;
      font-size: 2.5rem;
  }
  .weather-icon {
  margin-top: 10px;
  width: 80%;
  height: auto;
}
  footer {
    font: 1.25rem;
    padding: 10px;
  }
  #icon-div img {
    width: 50px;
    height: 50px;
  }
  .footer-con {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 100%;
    padding: 2rem;
  }
  #weather {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  form {
    box-sizing: border-box;
    text-align: center;
    margin-left: 2rem;
  }
  textarea{
    padding: 20px;
    margin-left: 30px;
  }
  .image-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .welcome{
    padding: .5rem 1.5rem;
    margin: 1rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #fff;
}
.welcome-img{
    width: 50vh;
    height: 50%;
    display: flex;
    margin: 1rem auto;
}
#learn-more{
  position: absolute;
  transform: translateY(290%);
}
.offer .more{
  width: 100px;
  height: 100px;
  padding: .25rem;
}

/* tables */
table {
  width: 100%;
}
.offer{
margin: 1.5rem;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.offer-box{
  padding: 1rem;
  display: flex;
  align-items: center;
  float: right;

}
.offer-box ul>li{
padding: 1rem;
text-align: center;
font-size: larger;
color: #fff;
display: flex;
align-items: center;
flex-direction: column;
}
.offer-img{
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 2px #767a83;
  width: 100%;
  align-items: center;
  max-width: 400px;
  height: 100%;
  
}

}