* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans serif;
}
body {
  background-color: #b6bed4;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
}
header {
  text-align: center;
  background-color: blue;
  color: #fff;
}
.container-box h1{
    color: #fff;
}
.container-box {
  padding: 4rem;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  background-image: url(../dgatheringplace/join1600x500.webp);
  background-position: center;
  background-size: calc(100% + 10rem);
}
.items{
    background-color: #7a5fdb;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: auto;
}
.details-box{
    text-align: left;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.ingredients{
    padding-bottom: 15px;
}
hr {
    height: 3px;
    margin: 5px 0;
    Box-sizing: content-box; /* 1 */
    Height: 0; /* 1 */
    Overflow: visible; /* 2 */
}