* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Caveat", cursive;
}
html{
  scroll-behavior: smooth;
}
body {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  background-color: #9087b8;
}
#head-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-top: 1rem;
  margin: 0;
  color: #5353ff;
}
#boost{
  color: #0a8f0a;
}
#boost::after{
  content: "\1F680";
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: none;
}
.logo:hover {
  scale: 1.1;
}
.h1-sub {
  position: absolute;
  top: 75px;
  left: 80px;
  color: #fff;
}
header {
  background-color: #062349;
  padding: 1rem;
  width: auto;
}
.head-div {
  display: flex;
}
nav {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  color: #fff;
}
button {
  background: none;
  border: none;
}
.home-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-left: 1rem;
  text-align: center;
}
/* Small View Navigation */
#menu {
  font-size: 2rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
#menu::before {
  content: "☰";
  color: #fff;
}
#menu.open::before {
  content: "❎";
}
.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.navigation a:hover {
  background-color: #3f3838;
  color: white;
  font-weight: 700;
}
.open a {
  display: block;
}
.active::before {
  content: "📍";
}
button:hover {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7));
}
/* Image background for the em img */
.chamber-img {
  padding: 4rem;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/hero-large.webp);
  background-position: center;
  scroll-behavior: smooth;
  background-position: center;
  background-size: cover;
  background-size: calc(100% + 10rem);
}
.chamber-h2 {
  padding-top: 0.5rem;
  font-size: 22px;
  color: #ffffff;
}
.chamber-h1 {
  color: #fff8f8;
  font-size: 30px;
  font-weight: bolder;
}
main {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tickets {
  position: absolute;
  right: 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.4rem;
}
#mypopover{
  position: absolute;
  top: 13rem;
  left: 10rem;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 1.25rem;
  background: linear-gradient(gray, white);
}
.btnBox{
  display: block;
}
.grid {
 display: flex;
 flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}
.list section img{
  display: none;
}
.list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.list section{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.desc-h3{
  display: none;
}
.list section h3{
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}
.list section:nth-child(even){
  background-color: #062349;
}
.list section h2{
  display: none;
}
.list section h3:nth-child(odd){
  display: none;
}
.list section.name{
  display: none;
}
section h3{
  font-size: 1.25rem;
  padding: .5rem;
}
img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 7.5px #fff;
  margin-top: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 2rem;

}
.listCards{
  display: block;
  margin: 10px auto;
  background-color: #3f3838;
  color: #fff;
}
#cards section{
  text-align: center;
}
#cards h3,h2{
  font-family: "Caveat", cursive;
}
#gridView,
#listView {
  padding: 1rem;
  background-color: #041472;
  color: #fff;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
section {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #03058b;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7));
  justify-items: center;
}
section img {
  width: 240px;
  height: auto;
  border: 1px solid #fff;
  box-shadow: 0 0 15px #a09fb6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section a{
  text-decoration: underline;
}
ul>li {
  list-style-type: none;
  padding: 2rem;
}
footer {
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  width: auto;
  height: auto;
  background-color: #062349;
  color: #ffffff;
}
.footer-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
#icon-div {
  text-align: center;
}
#icon-div img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
footer p {
  margin: 0 auto;
}
@media screen and (min-width: 37.5em) {
  #menu {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }
  .navigation a {
    display: block;
    flex: 1 1 100%;
    padding: 1rem;
    color: #ffffff;
  }
  .navigation a:hover {
    background-color: #0c910c;
    border-radius: 10px;
  }
  .active::before {
    content: "";
  }
  nav .active {
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 20px; 
  }
  footer{
    font: 1.25rem;
    padding: 10px;
  }
  #icon-div img{
    width: 50px;
    height: 50px;
  }
  .footer-con {
    padding: 10px;
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
  }
}