:root {
  --whatsapp: "green";
  --twitter: rgb(33, 60, 134);
  --insta: #ff0050;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans serif;
}
#whatsapp {
  color: green;
}
#whatsapp:hover {
  color: #00ff00;
  transition: ease-in-out 1s;
}
#twitter {
  color: var(--twitter);
}
#twitter:hover {
  color: #2d42b8;
  transition: ease-in-out 1s;
}
#insta {
  color: var(--insta);
}
#insta:hover {
  color: rgb(240, 56, 93);
  transition: ease-in-out 1s;
}
html {
  scroll-behavior: smooth;
}
body {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  background-color: #9087b8;
}
.head-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-top: 1rem;
  margin: 0;
  color: #5353ff;
}
.boost {
  color: #10e010;
}
.boost::after {
  content: "\1F680";
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: none;
}
.h1-sub {
  position: absolute;
  top: 55px;
  left: 80px;
  color: #fff;
}
header {
  background-color: #062349;
  /* padding: 1rem; */
  width: auto;
}
.head-div {
  display: flex;
}
nav {
  background-color: #000000;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  color: #fff;
}
nav a {
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
nav a:hover {
  background-color: #3f3838;
  color: white;
  font-weight: 700;
}
nav ul {
  overflow: hidden;
}
nav.open {
  grid-template-rows: 1fr;
}
button {
  background: none;
  border: none;
}
.home-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-left: 1rem;
  text-align: center;
}
/* Small View Navigation */
#myButton {
  font-size: 2rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 1.75rem;
  right: 1rem;
}
#myButton::before {
  content: "☰";
  color: #fff;
}
#myButton.open::before {
  content: "❎";
}
.active::before {
  content: "📍";
}
button:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
/* Image background for the em img */
.chamber-img {
  padding: 4rem;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/hero-large.webp);
  background-position: center;
  scroll-behavior: smooth;
  color: #000;
  background-position: center;
  background-size: cover;
  background-size: calc(100% + 10rem);
}
img.card-logo {
  width: 70px;
  height: 75px;
  border-radius: 10px;
}
img.random-logo {
  border: none;
  width: 70px;
  height: 75px;
  border-radius: 10px;
}
.chamber-h2 {
  padding-top: 0.5rem;
  font-size: 22px;
  color: #ffffff;
}
.chamber-h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}
main {
  text-align: center;
}
.tickets {
  position: absolute;
  right: 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.4rem;
}
#mypopover {
  position: absolute;
  top: 13rem;
  left: 10rem;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 1.25rem;
  background: linear-gradient(gray, white);
}
.btnBox {
  display: block;
}
.grid {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}
.list section img {
  display: none;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.list section {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.desc-h3 {
  display: none;
}
.list section h3 {
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
.list section:nth-child(even) {
  background-color: #062349;
}
.list section h2 {
  display: none;
}
.list section h3:nth-child(odd) {
  display: none;
}
.list section.name {
  display: none;
}
section h3 {
  font-size: 1.25rem;
  padding: 0.5rem;
}
img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
a {
  cursor: pointer;
}
.listCards {
  display: block;
  margin: 10px auto;
  background-color: #3f3838;
  color: #fff;
}
#cards section {
  text-align: center;
}
#cards h3,
h2 {
  font-family: "Caveat", cursive;
}
#gridView,
#listView {
  padding: 1rem;
  background-color: #041472;
  color: #fff;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
section {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #03058b;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
  justify-items: center;
}
section img {
  width: 240px;
  height: auto;
  border: 1px solid #fff;
  box-shadow: 0 0 15px #a09fb6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section a {
  text-decoration: underline;
}
ul li {
  list-style-type: none;
  padding: 1.05rem;
}
footer {
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  width: auto;
  height: auto;
  background-color: #062349;
  color: #ffffff;
}
.footer-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
#icon-div {
  text-align: center;
}
/* Icons */
a {
  text-decoration: none;
  padding: 0;
}
.second-main a{
  text-decoration: underline;
}
.order a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  background: transparent;
  color: var(--clr);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  animation: icon-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
li > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 10px;
  margin-bottom: 1.5rem;
}
i {
  padding: 20px;
  font-size: 2.5rem;
}
.order ul li {
  overflow: hidden;
}
.order ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.order ul li {
  width: 80px;
  height: 80px;
  color: var(--clr);
  border-radius: 12px;
  padding: 2rem;
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.order-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* END OF ICONS!!!!!! */
footer p {
  margin: 0 auto;
}
/* FOR INDEX.HTML */
.container-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
  text-transform: capitalize;
}
.title {
  padding: 1rem;
  background-color: #030429;
  color: #fff;
  font-weight: 700;
}
.business-title {
  padding: 1rem;
  color: #fff;
  font-weight: 700;
}
hr {
  height: 3px;
  margin: 5px 0;
  background: black;
}
.event-box {
  padding-bottom: 2rem;
  padding-top: 0;
  height: 100%;
  color: #fff;
  list-style-type: disc;
  width: 100%;
  background-color: #352d47;
}
#business {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #fff;
  width: 90%;
  background-color: #352d47;
}
.event {
  display: flex;
  text-transform: none;
  align-items: center;
  flex-direction: column;
  list-style-type: disc;
}
#weather {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-transform: capitalize;
}
.random-logo {
  animation: glowLogo 5s linear 1;
  display: flex;
  box-shadow: none;
  flex-direction: row;
  box-shadow: 3px 3px 10px #000000;
}
@keyframes glowLogo {
  from {
    box-shadow: 0 0 0 transparent;
    transform: scale(0);
  }
  to {
    box-shadow: 3px 3px 10px #000000;
  }
}
#weather-icon {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.details-box {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#business {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}
.spotlightHead {
  background-color: #030429;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}
#business-icon {
  width: 150px;
  height: 150px;
}
#forecast {
  margin-top: 50px;
}
#forecast > p {
  margin: 20px;
}
/* JOIN HTML */
/* Form start */
form {
  margin: 1rem 2%;
  background-color: #1b3863;
  color: white;
  border-radius: 10px;
}
  label {
    display: block;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    padding-top: 0.2rem;
    margin-left: 1rem;
    display: block;
    text-align: left;
  }
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
#results{
  padding: 1rem;
  border: 7px solid #000;
  background-color: #00ff00;
}
/* MODALS TRYOUT */
#membershipDetails{
  position: absolute;
  top: 100vh;
  left: 50px;
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  background-color: #020972;
  color: #fff;
  border-radius: 10px;
  border: 3px solid rgb(29, 31, 29);
}
#membershipDetails a{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
::backdrop{
  background-color: gray;
  opacity: .5;
}
.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
}
.second-main{
  background: linear-gradient(blue, rgb(12, 128, 79));
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
@media screen and (min-width: 37.5em) {
  #myButton {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
    cursor: pointer;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    background-color: transparent;
    grid-template-rows: 1fr;
    transition: none;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    color: #ffffff;
    cursor: pointer;
  }
  nav a:hover {
    background-color: #0c910c;
    border-radius: 10px;
  }
  .active::before {
    content: "";
  }
  nav .active {
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 20px;
  }
  footer {
    font: 1.25rem;
    padding: 10px;
  }
  #icon-div img {
    width: 50px;
    height: 50px;
  }
  .footer-con {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 100%;
    padding: 2rem;
  }
  #business {
    width: 95%;
  }
  #business {
    display: flex;
    flex-direction: column;
    padding: 0 0 2.75rem 0;
  }
  #business-icon {
    width: 25%;
    height: 25%;
  }
  #weather {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  form {
    box-sizing: border-box;
    text-align: center;
    margin-left: 2rem;
  }
  textarea{
    padding: 20px;
    margin-left: 30px;
  }
  
}
