* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Caveat", cursive;
}
html{
  scroll-behavior: smooth;
}
body {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  background-color: #9087b8;
}
.head-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-top: 1rem;
  margin: 0;
  color: #5353ff;
}
.boost{
  color: #10E010;
}
.boost::after{
  content: "\1F680";
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.logo {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: none;
}
.h1-sub {
  position: absolute;
  top: 55px;
  left: 80px;
  color: #fff;
}
header {
  background-color: #062349;
  /* padding: 1rem; */
  width: auto;
}
.head-div {
  display: flex;
}
nav {
  background-color: #000000;
  display: grid;
  grid-template-rows: 0fr;
  transition:  grid-template-rows .5s ease-out ;
  color: #fff;

}
nav a {
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
}
nav a:hover {
  background-color: #3f3838;
  color: white;
  font-weight: 700;
}
nav ul{
  overflow: hidden;
}
nav.open{
  grid-template-rows: 1fr;
}
button {
  background: none;
  border: none;
}
.home-txt {
  font-size: 2rem;
  padding: 1rem;
  padding-left: 1rem;
  text-align: center;
}
/* Small View Navigation */
#myButton {
  font-size: 2rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
#myButton::before {
  content: "☰";
  color: #fff;
}
#myButton.open::before {
  content: "❎";
}
.active::before {
  content: "📍";
}
button:hover {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7));
}
/* Image background for the em img */
.chamber-img {
  padding: 4rem;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/hero-large.webp);
  background-position: center;
  scroll-behavior: smooth;
  background-position: center;
  background-size: cover;
  background-size: calc(100% + 10rem);
}
img.card-logo{
  width: 70px;
  height: 75px;
  border-radius: 10px;
}
.chamber-h2 {
  padding-top: 0.5rem;
  font-size: 22px;
  color: #ffffff;
}
.chamber-h1 {
  color: #fff8f8;
  font-size: 30px;
  font-weight: bolder;
}
main {
  text-align: center;
}
.tickets {
  position: absolute;
  right: 30px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.4rem;
}
#mypopover{
  position: absolute;
  top: 13rem;
  left: 10rem;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 1.25rem;
  background: linear-gradient(gray, white);
}
.btnBox{
  display: block;
}
.grid {
 display: flex;
 flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}
.list section img{
  display: none;
}
.list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.list section{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.desc-h3{
  display: none;
}
.list section h3{
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}
.list section:nth-child(even){
  background-color: #062349;
}
.list section h2{
  display: none;
}
.list section h3:nth-child(odd){
  display: none;
}
.list section.name{
  display: none;
}
section h3{
  font-size: 1.25rem;
  padding: .5rem;
}
img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 7.5px #fff;
  margin-top: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 2rem;
}
.listCards{
  display: block;
  margin: 10px auto;
  background-color: #3f3838;
  color: #fff;
}
#cards section{
  text-align: center;
}
#cards h3,h2{
  font-family: "Caveat", cursive;
}
#gridView,
#listView {
  padding: 1rem;
  background-color: #041472;
  color: #fff;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
section {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #03058b;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.7));
  justify-items: center;
}
section img {
  width: 240px;
  height: auto;
  border: 1px solid #fff;
  box-shadow: 0 0 15px #a09fb6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section a{
  text-decoration: underline;
}
ul li {
  list-style-type: none;
  padding: 2rem;
}
footer {
  padding: 1rem;
  line-height: 1.5;
  text-align: left;
  width: auto;
  height: auto;
  background-color: #062349;
  color: #ffffff;
}
.footer-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
#icon-div {
  text-align: center;
}
/* Icons */
a {
  text-decoration: none;
  padding: 0;
}
.order a {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  background: transparent;
  color: var(--clr);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  animation: icon-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
i{
  padding: 20px;
  font-size: 2.5rem;
}
.order ul li::before {
  content: "";
  width: 110px;
  height: 110px;
  background: var(--clr);
  display: block;
  position: absolute;
  transform: rotate(-45deg) translate(-110%, -23px);
  z-index: -1;
  animation: back-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
.order ul li {
  overflow: hidden;
}
.order ul li:hover a {
  animation: icon-in 0.5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

.order ul li:hover:before {
  animation: back-in 0.5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

@keyframes back-in {
  0% {
    transform: rotate(-45deg) translate(-110%, -23px);
  }
  80% {
    transform: rotate(-45deg) translate(5%, -23px);
  }
  100% {
    transform: rotate(-45deg) translate(0%, -23px);
  }
}

@keyframes back-out {
  0% {
    transform: rotate(-45deg) translate(0%, -23px);
  }
  20% {
    transform: rotate(-45deg) translate(5%, -23px);
  }
  100% {
    transform: rotate(-45deg) translate(-12%, -23px);
  }
}

@keyframes icon-in {
  0% {
    font-size: 1.5em;
  }
  80% {
    color: #fff;
    background-color: var(--clr);
    font-size: 1.75em;
  }
  100% {
    color: #fff;
    background-color: var(--clr);
    font-size: 1.6em;
  }
}

@keyframes icon-out {
  0% {
    color: #fff;
    font-size: 1.6em;
  }
  20% {
    color: #fff;
    font-size: 1.75em;
  }
  100% {
    font-size: 1.5em;
  }
}

.order ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.order ul li {
  width: 80px;
  height: 80px;
  color: var(--clr);
  line-height: 60px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
  box-shadow: 0px 8px 16px -6px;
}
.order {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.order-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* END OF ICONS!!!!!! */
footer p {
  margin: 0 auto;
}
/* FOR INDEX.HTML */
.container-box{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
  text-transform: capitalize;
}
.title{
  padding: 1rem;
  background-color: #030429;
  color: #fff;
  font-weight: 700;
}
.business-title{
  padding: 1rem;
  color: #fff;
  font-weight: 700;
}
hr {
  height: 3px;
  margin: 5px 0;
  background: black;
}
.event-box{
  padding-bottom: 2rem;
  
  padding-top: 0;
  height: 100%;
  color: #fff;
  list-style-type: disc;
  width: 100%;
  background-color: #352d47;
}
#business{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 0;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #fff;
  width: 90%;
  background-color: #352d47;
}

.event{
  display: flex;
  text-transform: none;
  flex-direction: column;
  list-style-type: disc;
}
#weather{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
}
#weather-icon{
  margin-top: 30px;
  width: 100%;
  height: auto;

}
.details-box{
  width: 100%;
  height: auto;
  color: #fff;
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#business{
  display: grid;
  grid-template-columns: 1fr ;
  padding: 2rem;
}
/* END OF INDEX.HTMl */
@media screen and (min-width: 37.5em) {
  #myButton {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    background-color: transparent;
    grid-template-rows: 1fr;
    transition: none;
  }
  nav ul{
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    color: #ffffff;
  }
  nav a:hover {
    background-color: #0c910c;
    border-radius: 10px;
  } 
  .active::before {
    content: "";
  }
  nav .active {
    text-decoration: underline;
    border-radius: 10px;
    font-weight: bolder;
    padding-bottom: 20px; 
  }
  footer{
    font: 1.25rem;
    padding: 10px;
  }
  #icon-div img{
    width: 50px;
    height: 50px;
  }
  .footer-con {
    padding: 10px;
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
  }
  .container-box{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      max-width: 100%;
      padding: 2rem;
  }
  #business{
    width: 95%;
  }
}